body 
{
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p 
{
    font-size: 16px;
}
  
.bg-1 
{
    background-color: #90a4ae; /* blue-grey */
    color: #ffffff;
    
}
.bg-2 
{
    background-color: white; /* white*/
    height: 150px;
    
}
.bg-3 
{
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 
{
    background-color: #2f2f2f;
    color: #ffffff;
    height: 150px;
}
.container-fluid 
{
    padding-top: 70px;
    padding-bottom: 70px;
}

.companies
{
  list-style-type: none;
  margin: 0 auto;
  display: inline-block;
 
}
.companies li
{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:500px;
  height: 28px;
  padding: 5px;
  background-color: #EEE;
  cursor: pointer;
  
}
.companies li:hover  {
  color: #eee;
  background-color: #607D8B;
}
.companies .text
{
    top: -3px;
}
.pagination
{
    cursor: pointer;
    text-align: center;
}

