<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Search A Com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    </div>

  </nav>
  <router-outlet></router-outlet>