body 
{
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p 
{
    font-size: 16px;
}
.margin 
{
    margin-bottom: 45px;
}
/*Heading section*/
.bg-1 
{ 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
/*About Section*/
.bg-2 
{ 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
/*Contact Details Section*/
.bg-3 
{ 
    background-color: #ffffff; /* White */
    color: #555555;
}
/*Google Maps Section*/
.bg-4
{
    background-color: white; 
    color: #fff;
}
/*Footer Section*/
.bg-5 
{ 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid 
{
    padding-top: 70px;
    padding-bottom: 70px;
}
.sebm-google-map-container 
{
    height: 450px;
}

