<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1>Search a Com</h1>
  <img src="./img/C.jpg" alt="C" style="width:200px;height:128px;" class="img-circle">
</div>
<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    
    <form (submit)= "search(term.value)"  >
        <div class="[ input-group ]" >
         <input type="text" id = "searchBox" #term class="[ form-control ]" placeholder="Search for services and hit enter"  required/>       
            <span class="[ input-group-btn ]">
                <button class="[ btn btn-default ]" type="submit" (click)= "search(term.value)"><span class="[ glyphicon glyphicon-search ]"></span></button>  
            </span> 
         <span class="[ input-group-btn ]">
                <button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
        </span> 
              
        </div>
    </form>
    
</div>
<!-- Third Container -->
<div class = "container-fluid bg-3 text-center" id = "searchArea">

    <ul class = "companies">
        <li *ngFor = "let company of companies | async | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}" [routerLink]="['/detail', company.id] ">
            {{company.name}}
        </li>
    </ul> 
    <!-- Testing to see if companies is empty -->
    <div *ngIf = "(companies | async)?.length == 0">No Results Found</div>
   <!-- Pagination Controls -->
    <pagination-controls (pageChange)="page = $event" id="1"
        maxSize="5"
        directionLinks="true"
        autoHide="true" class = "pagination">
    </pagination-controls>
</div>
<!-- Footer Container -->
<footer class="container-fluid bg-4 text-center">
   <p>2017 &copy; Developed by BMG Development &reg;</p>
</footer>