.navbar 
{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover 
{
    color: white !important;
}
body 
{
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}